/*
 * Studio C Library Website
 */

/*================
Table of Contents
1. initial styles
2. universal styles
3. nav styles
4. homepage styles
5. about styles
6. team styles
7. work styles
8. contact styles
================*/

/*================
initial styles
================*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Signika');

body {
    font-family: 'Signika', sans-serif;
}

/*================
universal styles BE CAREFUL
================*/

footer {
    text-transform: uppercase;
    text-align: center;
}

footer a {
    text-decoration: none;
}

/*================
site-header styles
================*/
#site-header {
    display: flex;
    height: 125px;
}

#site-header img {
    height: 100%;
}

#site-header h1 {

}

#hours {
 position: absolute;
 right: 50px;
}

#hours h2 {
  padding: 0;
  margin: 0;
  color: orange;
  text-align: center;
}

/*================
mobile-header styles
================*/

#mobile-header {
}

/*================
nav styles DO NOT CHANGE
================*/

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul {
    margin: 0;
    text-align: center;
    margin: 5px 0;

}

nav li {
  display: inline;
  font-size: 2em;
}

nav li a {
    padding: 8pt;
    text-decoration: none;
}

nav li a:hover {
}


/*================
homepage styles
================*/

header {
}



/*================
about styles
================*/



/*================
college styles
================*/


/*================
Resources styles
================*/


/*


*/
/*================
course-help styles
================*/



/* From Studio C 2013 */
#linkList li dl dd {
display: none;
}
