/*
 * Studio C Library Website
 * By Studio C 2017
 */

/* Colors
 Dark Brown - #96530f
 Light Brown - #c1a164
 Gray - #b2b2b2
 #F26E20 (dark orange)
 #BB7733 (dark brown)
 */

/*================
Table of Contents
1. initial styles
2. universal styles
3. nav styles
4. Home Page styles
5. about styles
================*/

/*================
initial styles
================*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Signika');

body {
    font-family: 'Signika', sans-serif;
}

/*================
universal styles BE CAREFUL
================*/

footer {
    text-transform: uppercase;
    text-align: center;
}

footer a {
    text-decoration: none;
}

/*================
site-header styles
================*/
#site-header {
    display: flex;
    height: 125px;
}

#site-header img {
    height: 100%;
}

#site-header h1 {

}

#site-header #hours {

}

/*================
mobile-header styles
================*/

#mobile-header {
}

/*================
nav styles DO NOT CHANGE
================*/

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul {
    display: flex;
    margin: 0;
}

nav li {
    display: block;
    text-align: center;
}

nav li a {
    padding: 8pt;
    display: block;
    text-decoration: none;
}

nav li a:hover {
}


/*================
Home Page styles
================*/

header {
}



/*================
About styles
================*/
#about {

}


#our-librarian {

}

#our-librarian {

}

/*================
Resources styles
================*/


/*================
College Center styles
================*/







/* From Studio C 2013 */
#linkList li dl dd {
display: none;
}


/*================
site-header styles
================*/




/*================
nav styles DO NOT CHANGE
================*/

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    margin: 0;
    text-align: center;
    justify-content:space-around;
}

nav li {
    display: block;
}

nav li a {
    padding: 8pt;
    display: block;
    text-decoration: none;
    text-align: center;
}

nav li a:hover {
}


/*================
homepage styles
================*/

header {
}

/*================
about styles
================*/

.page-title {
   color: #F26E20;
   text-align: center;
}

#about-text {
   margin: 0 30% 1% 30%;
   text-align: center;
   width: 40%;
}

.about-container {
   background-color: #BB7733;
   width: 80%;
   padding: 1% 0 7% 0;
   margin: 0 8% 5% 8%;
}

.container-title {
   position: relative;
   left: 3%;
}

.librarian-text {
   text-align: justified;
   width: 60%;
   float: right;
   margin-right: 5%;
}

.librarian-image {
  width: 10%;
  position: relative;
  left: 10%;
}

#text-two {
  float: left;
  position: relative;
  left: 5%;
  width: 40%;
}
