/*
 * Studio C Library Website
 */

 /* Color Scheme

 #F26E20 (dark orange)
 #BB7733 (dark brown)

 */

 @charset "UTF-8";

/*================
Table of Contents
1. initial styles
2. universal styles
3. nav styles
4. homepage styles
5. about styles
6. team styles
7. work styles
8. contact styles
================*/

/*================
initial styles
================*/
@charset "UTF-8";

@font-face {
   font-family: 'Adam CG Pro';
   src: url('../fonts/adam.cg.otf');
}


body {
  font-family: 'Adam CG Pro', serif;
}

/*================
universal styles BE CAREFUL
================*/

footer {
    text-transform: uppercase;
    text-align: center;
}

footer a {
    text-decoration: none;
}

/*================
site-header styles
================*/
#site-header {
    display: flex;
    height: 125px;
}

#site-header img {
    height: 100%;
}

#site-header h1 {

}

#site-header #hours {
}
/*================
mobile-header styles
================*/

#mobile-header {
}

/*================
nav styles DO NOT CHANGE
================*/

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul {
    display: flex;
    margin: 0;
}

nav li {
    display: block;
    text-align: center;
}

nav li a {
    padding: 8pt;
    display: block;
    text-decoration: none;
}

nav li a:hover {
}


/*================
homepage styles
================*/

header {
}

/*================
about styles
================*/

.page-title {
   color: #F26E20;
   text-align: center;
}

#about-text {
   margin: 0 30% 1% 30%;
   text-align: center;
   width: 40%;
}

.about-container {
   background-color: #BB7733;
   width: 80%;
   padding: 1% 0 5% 0;
   margin: 0 8% 5% 8%;
}

.container-title {
   position: relative;
   left: 3%;
}

.librarian-text {
   text-align: justified;
   width: 60%;
   float: right;
   margin-right: 5%;
}

.librarian-image {
  width: 10%;
  position: relative;
  left: 10%;
}

#text-two {
  float: left;
  position: relative;
  left: 5%;
  width: 50%;
}

/*================
college styles
================*/


/*================
Resources styles
================*/


/*


*/
/*================
course-help styles
================*/
